
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
}

ul.header {
  background-color: #111;
  padding: 0;
  width: 2000px;
}

.container{
  width:50% !important;
  margin-left:20px !important;
  margin-right: 0px !important;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.jumbotron{
  background-color:#B1D9D1 !important;
}

.btn-primary{
  background-color:#869199 !important;
  border-color:#869199 !important;
}